---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>did:web:web.mmatt.net</title>
  </head>
  <body>
    view contents on <a href="https://pdsls.dev/at://did:web:web.mmatt.net"
      >pdsls</a
    >.
  </body>
</html>
